<%= form_for @event, html: { multipart: true } do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :event_artist %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :event_date, id: :event_date %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Image" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price_low %>
    <%= form.text_field :price_low, id: :event_price_low %>
  </div>

  <div class="form-group">
    <%= form.label :price_high %>
    <%= form.text_field :price_high, id: :event_price_high %>
  </div>

  <!--<div class="form-group">-->
      <!--<div class="input-group">-->
      <!--<span class="input-group-addon">-->
        <!--<input type="checkbox" aria-label="Only For Adult">-->
      <!--</span>-->
        <!--<input type="text" class="form-control" aria-label="Text input with checkbox">-->
      <!--</div>-->
  <!--</div>-->

  <div class="form-group row">
    <div class="col-lg-2">
      <%= form.label :for_children %><br>
    </div>
    <div class="col-lg-10">
      <%= form.check_box :for_children %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
